-provide(:title, 'Edit')
.breadcrumbs.margin-bottom-40
  .container
    %h1.pull-left
      Edit Profile
.container
  .row
    / Begin Sidebar Menu
    
    / End Sidebar Menu
    / Begin Content
    .row.tab-v3
      .col-md-3
        %ul.nav.nav-pills.nav-stacked
          %li.active
            %a{"data-toggle" => "tab", href: "#basic_info"}
              %i.icon-home
              Basic Information
          %li
            %a{"data-toggle" => "tab", href: "#edu"}
              %i.icon-cloud
              Education
          %li
            %a{"data-toggle" => "tab", href: "#availability"}
              %i.icon-comments
              Availability and Interest
      .col-md-9
        .tab-content
          .tab-pane.active{id:'basic_info'}
            .panel.panel-green.margin-bottom-40
              .panel-heading
                %h3.panel-title
                  %i.icon-tasks
                  Information
              .panel-body
                %table.table
                  %tbody
                    %tr
                      %td
                        First Name
                      %td
                        =current_user.first_name
                    %tr
                      %td
                        Last Name
                      %td
                        =current_user.last_name
                    %tr
                      %td
                        Gender
                      %td
                        =current_user.gender
                    %tr
                      %td
                        Date of Birth
                      %td
                        =current_user.dob
                    %tr
                      %td
                        Contact Number
                      %td
                        =current_user.ph
                    %tr
                      %td
                        Registered Email
                      %td
                        %strong 
                          =current_user.email
                    %tr
                      %td
                      %td
                        %span.badge.badge-blue.click_pointer{id: 'basicinfo_upd'}
                          Update 
                    %tr{id: "form_basic", style: "display: none;"}
                      %td
                      %td
                        = form_for @user, html: {class: 'form-horizontal', role: 'form'} do |f|
                          .form-group
                            .col-lg-2.control-label
                              =f.label :first_name
                            .col-lg-10
                              =f.text_field :first_name, type: 'text', class: 'form-control'
                          .form-group
                            .col-lg-2.control-label
                              =f.label :last_name
                            .col-lg-10
                              =f.text_field :last_name, type: 'text', class: 'form-control'
                          .form-group
                            .col-lg-2.control-label
                              =f.label 'Date of Birth'
                            .col-lg-10
                              =f.date_select :dob, star_year:1980, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }, order: [:day, :month, :year]
                          .form-group
                            .col-lg-2.control-label
                              =f.label 'Gender'
                            .col-lg-10
                              =f.select :gender ,options_for_select(['Male', 'Female']), html:{class: 'form-control'}
                          .form-group
                            .col-lg-2.control-label
                              =f.label 'Contact Number'
                            .col-lg-10
                              =f.text_field :ph, type: 'text', class: 'form-control'
                          .form-group
                            =f.submit 'Update', class: 'btn-u btn-u-green'
                          
                    %tr
                      %td
                        Current Address
                      %td
                        -if @c
                          =@current_address.street_address
                          ,
                          %br
                          =@current_address.city
                          ,
                          %br
                          %strong
                            =@current_address.state
                          %br
                          Pincode:
                          &nbsp
                          =@current_address.pincode
                          %br
                          %span.badge.badge-blue.click_pointer{id: 'current_upd'}
                            Update
                        -else
                          %button.btn-u.btn-u-blue.btn-xs{id: 'enter_cur'}
                            Enter Current Address
                    %tr{id: "form_cur_ad", style: "display: none;"}
                      %td
                      %td
                        =form_for @current_address, html: {class: 'form-horizontal', role: 'form'} do |f|
                          .form-group
                            .col-lg-2.control-label
                              =f.label :street_address
                            .col-lg-10
                              =f.text_area :street_address, type: 'text', class: 'form-control'
                          .form-group
                            .col-lg-2.control-label
                              =f.label :city
                            .col-lg-10
                              =f.text_field :city,type: 'text', class: 'form-control'
                          .form-group
                            .col-lg-2.control-label
                              =f.label :state
                            .col-lg-10
                              =f.text_field :state,type: 'text', class: 'form-control'
                          .form-group
                            .col-lg-2.control-label
                              =f.label :pincode
                            .col-lg-10
                              =f.text_field :pincode,type: 'text', class: 'form-control'
                          .form-group
                            .col-lg-2.control-label
                              =f.submit 'Submit', class: "btn-u btn-u-green"
                    %tr
                      %td
                        Permanent Address
                      %td
                        -if @p
                          =@permanent_address.street_address
                          ,
                          %br
                          =@permanent_address.city
                          ,
                          %br
                          %strong
                            =@permanent_address.state
                          %br
                          Pincode:
                          &nbsp
                          =@permanent_address.pincode
                          %br
                          %span.badge.badge-blue.click_pointer{id: 'perm_upd'}
                            Update
                        -else
                          %button.btn-u.btn-u-blue.btn-xs{id: 'enter_perm'}
                            Enter Permanent Address
                          
                        %tr{id: "form_cur_ad", style: "display: none;"}
                    %tr{id: 'form_perm_ad', style:"display:none;"}
                      %td
                      %td
                        =form_for @permanent_address,html: {class: 'form-horizontal', role: 'form'} do |f|
                          .form-group
                            .col-lg-2.control-label
                              =f.label :street_address
                            .col-lg-10
                              =f.text_area :street_address, type: 'text', class: 'form-control'
                          .form-group
                            .col-lg-2.control-label
                              =f.label :city
                            .col-lg-10
                              =f.text_field :city,type: 'text', class: 'form-control'
                          .form-group
                            .col-lg-2.control-label
                              =f.label :state
                            .col-lg-10
                              =f.text_field :state,type: 'text', class: 'form-control'
                          .form-group
                            .col-lg-2.control-label
                              =f.label :pincode
                            .col-lg-10
                              =f.text_field :pincode,type: 'text', class: 'form-control'
                          .form-group
                            .col-lg-2.control-label
                              =f.submit 'Submit', class: "btn-u btn-u-green"
          .tab-pane{id: 'edu'}
            #accordion-1.panel-group.acc-v1
              .panel.panel-default
                .panel-heading
                  %h4.panel-title
                    %a.accordion-toggle{"data-parent" => "#accordion-1", "data-toggle" => "collapse", href: "#collapse-One"}
                      Basic or Graduation
                #collapse-One.panel-collapse.collapse.in
                  .panel-body
                    .row
                      .col-md-12
                        =form_for @gedu, html: {class: 'form-horizontal'}do |f|
                          =f.hidden_field :deg_type, value: 'graduation'
                          .form-group
                            .col-lg-2.control-label
                              Basic / Graduation
                            .col-lg-10
                              =f.select :degree, ["Select", "Not pursuing Graduation", "B.A", "B.Arch", "BCA", "B.B.A", "B.Com", "B.Ed", "BDS", "BHM", "B.Pharma", "B.Sc", "B.Tech/B.E.", "LLB", "MBBS"], {}, {class: 'form-horizontal'}
                          .form-group
                            .col-lg-2
                            .col-lg-2
                              .radio
                                =f.radio_button :deg_time,'full time'
                                Full Time
                            .col-lg-2  
                              .radio
                                =f.radio_button :deg_time, 'part time'
                                Part Time
                            .col-lg-6
                              .radio
                                =f.radio_button :deg_time,'correspondence/distance learning'
                                Correspondence / Distance Learning
                          .form-group
                            .col-lg-2.control-label
                              Specialization
                            -grouped_options = {'North America' => [['United States','US'], 'Canada'],'Europe' => ['Denmark','Germany','France']}
                            .col-lg-10
                              =f.select :subject, grouped_options_for_select(grouped_options), class: 'form-control'
                          .form-group
                            .col-lg-2.control-label
                              Year
                            .col-lg-4
                              = f.select :year, (Time.zone.now.year - 10)..(Time.zone.now.year + 10),class: 'form-control'
                          .form-group
                            .col-lg-2.control-label
                              University / Institute
                            .col-lg-10
                              = f.select :college_id, options_for_select(["Select",1]), class: 'form-control'
                          .form-group
                            .col-lg-2.control-label
                              =f.submit 'Submit', id: 'grad_submit', class: 'btn-u btn-u-green'
                        
                    
              .panel.panel-default
                .panel-heading
                  %h4.panel-title
                    %a.accordion-toggle{"data-parent" => "#accordion-1", "data-toggle" => "collapse", href: "#collapse-Two"}
                      Post Graduation
                #collapse-Two.panel-collapse.collapse
                  .panel-body
                    .row
                      .col-md-12
                        =form_for @pgedu, html: {class: 'form-horizontal'}do |f|
                          =f.hidden_field :deg_type, value: 'post_graduation'
                          .form-group
                            .col-lg-2.control-label
                              Post Graduation
                            .col-lg-10
                              =f.select :degree, ["Select", "Not pursuing Graduation", "B.A", "B.Arch", "BCA", "B.B.A", "B.Com", "B.Ed", "BDS", "BHM", "B.Pharma", "B.Sc", "B.Tech/B.E.", "LLB", "MBBS"], {}, {class: 'form-horizontal'}
                          .form-group
                            .col-lg-2
                            .col-lg-2
                              .radio
                                =f.radio_button :deg_time,'full time'
                                Full Time
                            .col-lg-2  
                              .radio
                                =f.radio_button :deg_time, 'part time'
                                Part Time
                            .col-lg-6
                              .radio
                                =f.radio_button :deg_time,'correspondence/distance learning'
                                Correspondence / Distance Learning
                          .form-group
                            .col-lg-2.control-label
                              Specialization
                            -grouped_options = {'North America' => [['United States','US'], 'Canada'],'Europe' => ['Denmark','Germany','France']}
                            .col-lg-10
                              =f.select :subject, grouped_options_for_select(grouped_options), class: 'form-control'
                          .form-group
                            .col-lg-2.control-label
                              Year
                            .col-lg-4
                              = f.select :year, (Time.zone.now.year - 10)..(Time.zone.now.year + 10),class: 'form-control'
                          .form-group
                            .col-lg-2.control-label
                              University / Institute
                            .col-lg-10
                              = f.select :college_id, options_for_select(["Select",1]), class: 'form-control'
                          .form-group
                            .col-lg-2.control-label
                              =f.submit 'Submit', id: 'grad_submit', class: 'btn-u btn-u-green'
          .tab-pane{id: 'availability'}
            -if !@av_all.empty?
              %table.table
                %thead
                  %td
                    %strong From
                  %td
                    %strong To
                  %td
                    %strong Interest
                  %td
                    %strong Region
                  %td
                    %strong City
                  %td
                %tbody
                  -@av_all.each do |a|
                    %tr
                      %td
                        =a.from
                      %td
                        =a.to
                      %td
                        =a.interest
                      %td
                        =a.region
                      %td
                        =a.city
                      %td
                        =link_to 'Delete', delete_availability_path(id: a.id), method: :delete, class: 'color-green'
            .panel.panel-blue.margin-bottom-40
              .panel-heading.margin-bottom-20
                .panel-title
                  Add new availability
              .panel-body
                #av_form
                  =form_for @av , html: {class: 'form-horizontal'} do |f|
                    .form-group
                      .col-lg-3.control-label
                        =f.label :from
                      .col-lg-9
                        =f.date_select :from
                    .form-group
                      .col-lg-3.control-label
                        =f.label :to
                      .col-lg-9
                        =f.date_select :to
                    .form-group
                      .col-lg-3.control-label
                        =f.label :interest
                      .col-lg-9
                        =f.select :interest, options_for_select(['1', '2'])
                    .form-group
                      .col-lg-3.control-label
                        =f.label :city
                      .col-lg-9
                        =f.select :city, options_for_select(['city1', 'city2'])
                    .form-group
                      .col-lg-3.control-label
                        =f.label "Region within the city"
                      .col-lg-9
                        =f.text_field :region
                    .form-group
                      .col-lg-9.col-lg-offset-3
                        =f.submit "Add Availability", class: 'btn-u btn-u-green'
                
              
                            

          
    / End Content
/ /container
/ === End Content Part ===
=javascript_include_tag('unify/app.js')
:javascript
  jQuery(document).ready(function() {
      App.init();
  });
  $(document).ready(function(){
    $('#current_upd').click(function(){
      if($('#form_cur_ad').css('display')=="none")
      $('#form_cur_ad').show();
      else
      $('#form_cur_ad').hide();
    });

    $('#perm_upd').click(function(){
      if($('#form_perm_ad').css('display')=="none")
      $('#form_perm_ad').show();
      else
      $('#form_perm_ad').hide();
    });
    $('#enter_perm').click(function(){
      if($('#form_perm_ad').css('display')=="none")
      $('#form_perm_ad').show();
      else
      $('#form_perm_ad').hide();
    });
    $('#enter_cur').click(function(){
      if($('#form_cur_ad').css('display')=="none")
      $('#form_cur_ad').show();
      else
      $('#form_cur_ad').hide();
    });             

    $('#basicinfo_upd').click(function(){
      if($('#form_basic').css('display')=="none")
      $('#form_basic').show();
      else
      $('#form_basic').hide();
    });
  });

/[if lt IE 9]
  <script src="assets/plugins/respond.js"></script>